*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* background-color: rgb(0, 0, 0); */
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    /* overflow-y:hidden; */
    


}
body{
    background-color: black;
}
header{
    background-color: black;
    width:100%;
    height: 72px;

    
    
}
header > .content {
   
    padding:10px;
    display: flex;
    align-items:center;
    
}
header > .content > div{
    
    flex:1;
    white-space: normal;
    
}

header > .content > div:nth-child(2) {
  display: flex;
  justify-content:center;
}
header > .content > div:last-of-type{
  display: flex;
  justify-content: flex-end;
  align-items :center;
 
 
  
}
nav{
    width:100%;
    background:red;
    position:fixed;    
    top:78px;
    z-index: 1000;
    height: 50%;
    display:flex;
    flex-direction: column;
    align-items :center;
    border-bottom: 6px solid black;
    display: none;
    
}

.nav{
    display: block;
   
    
}

nav > a{
    display: block;
    text-align: center;
    padding: 20px 0;
    color:white;
    font-size: 20px;
   
}
.logo{
    font-size: 30px;
    font-weight:700;
    display:flex;
    align-items:center;
    color:white;
}
span{
    color: red;
}
.connect{
    display:none;
    
}
button{
    padding:10px;
    background:red;
    color:white;
    border-radius: 8px;
    border:none;
    
}

button > .collapse{
    padding:3px;
    background: purple;
    color:white;
    border-radius: 8px;
    height:50px;
    border:none;
}

section{
    background-color: black;
    margin: 0 10px;
   
}
section h1{
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;

}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
.container{
    max-width: 1000px;
    
}
section > .container > .rentheader  {
  color: white;
}
section > .container > .rentheader > div > span{
    color: purple;
    
}
section > .container > .rentheader > .title{
    font-weight:700;
    font-size:30px;
}
.rentheader{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
section > .container > .rentheader > .text{
    font-weight: 500;
    font-size:20px;
   width: 100%;
   text-align: justify;
}
.search{
    display:flex;
    width:100%;
    flex:1;
    border:1px solid black;
    border-radius: 8px;
}
.search > input{
  border:none;
  padding:10px;
   border-radius: 8px;
    
}
.search-input{
    flex:1;
}
.search > .button-search{
    border-radius: 8px;
    background: purple;
    color:white;
}
.images{
    margin-top:10px;
 
}
.image-content{
    display:flex;
    gap:10px;
    padding:10px;
}
.image1{
   display:flex;
    flex-direction: column;
    gap:10px;
    flex:1;
}
.image2{
   display:flex;
    flex-direction: column;
    gap:10px;
    flex:1;
}

.image{
    width: 150px;
    height:150px;
    border-radius:10px;
}


section{
    margin: 10px;
}
section .content h1{
    font-size: 45px;
    color: white;
    letter-spacing: 3px;
   
}
.webdev {
    color: white;
    letter-spacing: 2px;

}
section .content h2{
    color: white;
    margin-top: 10px;
    letter-spacing: 6px;

}
section form p{
    color: white;
}
section form{
    margin-top: 20px;
    line-height: 30px;
    width: 300px;
    max-width: 100%;
    position: relative;
    /* background-color: white; */
}

section form input{
    margin-top: 5px;
    display:inline-block;
    width: 100%;
    padding : 14px 80px 14px 15px; 
    border-radius: 30px;  
    border: 2px solid red;
    outline: none;
    
}
section form input::placeholder{
    font-size: 13px;
}
section form button{
    position: absolute;
    display: inline-block;
    border:none;
    outline: none;
    padding: 14px 20px;
    border-radius: 30px;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px #0000, 0px 0px 15px #858585;
    top:37px;
    right: 2px;

}

.container2{
    
    margin: auto;
    width: 100%;
    
  
}

.box_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100%;
    padding:10px;
    background-color: black;
      margin: 0 auto;
      /* padding-left: 60px; */
    
}
.container2 .about{
    width: 100%;
    text-align: justify;
    color: white;
    margin-left: 0px;
    /* background-color: blue; */
    padding-top: 0px;
 
}
.container2 img{
    width: 20;
    box-shadow: 0px 0px 5px #0000, 0px 0px 15px #858585;
}
.container2 .about h1{
    font-weight: bolder;
    margin-bottom: 30px;
}
.container2 .about p{
    margin-bottom: 20px;
}
.container2 .about p:last-child{
    font-size: 15px;
}
.container2 .about button{
    margin-top: 25px;
    background-color: rgb(255, 15, 15);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: transform .4s;
    font-size: 17px;
}

.service{
    height: 100vh;
    width: 100%;
    padding:10px;
    background-color: black;
    margin: 0 auto;
     /* background-color: white; */
}
.title h1{
    font-size: 35px;
   /* width: 1130px;
    */
    text-align: center; 
    color: white;
}
.service .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    /* min-height: 400px; */
    /* background-color: green; */
}
.service .card{
    width: 250px;
    height: 300px;
    text-align: center;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(26, 25, 25);
    overflow: hidden;


}
.pra h2{
    margin-bottom: 13px;
    color: red;
    font-size: 16px;
}
.pra p{
    color: #fcfc;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 25px;

}
.service button{
    background-color: rgb(255, 15, 15);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: transform .4s;
    border: none;
}
.service button:hover{
    background-color: black;
    border: 2px solid red;
    transition: .4s;
}

.contact {
    margin-top: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    text-align: center;
    margin-bottom: 70px;

}
.contact p{
    font-size: 20px;
    margin-bottom: 40px;
    color: #fcfc;
}
.contact button{
    font-size: 20px;
    background-color: rgb(255, 15, 15);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: transform .4s;
    border: none;

}

footer{
    /* margin-bottom: 50px; */
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    text-align: center;
    color: #fcfc;
    line-height: 50px;

}
footer h3{
    font-size: 20px;
    
}
footer p{
    font-size: 15px;
}



@media screen and (min-width : 768px){
header > .content {
   
    padding:10px 20px;
    transition: 0.5s ease padding;
    display: flex;
}
nav{
    position: static;
    justify-content: center;
    background: black;
    text-align: center;
    display:grid;
    height: 100%;
    grid-template-columns:repeat(4, 1fr);
    
}
nav > a{
    display: inline-block;
    text-align: center;
    padding: 10px 5px;
    color:white;
    
   
}
.logo{
    font-size: 35px;
}
.collapse{
    display:none;
}.connect{
    display:block;
    font-size:15px;
}

section{
    /* background-color: white; */
    margin: 40px 20px;
}
.container{
    max-width: 1000px;
    display:flex;
    
}

.rentheader{
    flex:20%;
    background: red;
    
}
.images{
    flex:0.2;

}

section{
    margin: 50px;
}
section .content h1{
    font-size: 45px;
    color: white;
    letter-spacing: 3px;
   
}
section .content h2{
    color: white;
    margin-top: 10px;
    letter-spacing: 6px;

}
section form p{
    color: white;
}
section form{
    margin-top: 20px;
    line-height: 30px;
    width: 300px;
    max-width: 100%;
    position: relative;
    /* background-color: white; */
}

section form input{
    margin-top: 5px;
    display:inline-block;
    width: 100%;
    padding : 14px 80px 14px 15px; 
    border-radius: 30px;  
    border: 2px solid red;
    outline: none;
    
}
section form input::placeholder{
    font-size: 14px;
}
section form button{
    position: absolute;
    display: inline-block;
    border:none;
    outline: none;
    padding: 14px 20px;
    border-radius: 30px;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px #0000, 0px 0px 15px #858585;
    top:37px;
    right: 2px;

}


.container2{
    margin: auto;
    width: 100%;
    
  
}

 .box_container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding:70px;
      margin: 0 auto;
      /* padding-left: 60px; */
    
}
.container2 .about{
    width: 550px;
    color: white;
    margin-left: 50px;
    /* background-color: blue; */
    padding-top: 90px;
 
}
.container2 img{
    min-width: 500px;
    box-shadow: 0px 0px 5px #0000, 0px 0px 15px #858585;
}
.container2 .about h1{
    font-weight: bolder;
    margin-bottom: 30px;
}
.container2 .about p{
    margin-bottom: 20px;
}
.container2 .about p:last-child{
    font-size: 15px;
}
.container2 .about button{
    margin-top: 25px;
    background-color: rgb(255, 15, 15);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: transform .4s;
    font-size: 17px;
}

.service{
    height: 100vh;
    width: 100%;
    padding:70px;
    background-color: black;
    margin: 0 auto;
     /* background-color: white; */
}
.title h1{
    font-size: 55px;
   /* width: 1130px;
    */
    text-align: center; 
    color: white;
}
.service .box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    /* min-height: 400px; */
    /* background-color: green; */
}
.service .card{
    width: 500px;
    height: 300px;
    text-align: center;
    color: white;
    padding: 20px 25px;
    border-radius: 20px;
    margin: 15px;
    background-color: rgb(26, 25, 25);
    overflow: hidden;


}
.pra h2{
    margin-bottom: 13px;
    color: red;
    font-size: 16px;
}
.pra p{
    color: #fcfc;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 25px;

}
.service button{
    background-color: rgb(255, 15, 15);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: transform .4s;
    border: none;
}
.service button:hover{
    background-color: black;
    border: 2px solid red;
    transition: .4s;
}

.contact {
    margin-top: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    text-align: center;
    margin-bottom: 70px;

}
.contact p{
    font-size: 30px;
    margin-bottom: 40px;
    color: #fcfc;
}
.contact button{
    font-size: 20px;
    background-color: rgb(255, 15, 15);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: transform .4s;
    border: none;

}

footer{
    /* margin-bottom: 50px; */
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    background-color: rgb(26, 25, 25);
    width: 100%;
    text-align: center;
    color: #fcfc;
    line-height: 50px;

}
footer h3{
    font-size: 40px;
    
}
footer p:{
    font-size: 24px;
}


}
